* {
  box-sizing: border-box;
}
.review-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

img {
  width: 80%;
  object-fit: cover;
  clip-path: circle();
}
